# Supabase Configuration
SUPABASE_URL=https://diuvzzrbwxdufagcdbuz.supabase.co/rest/v1
SUPABASE_APIKEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpdXZ6enJid3hkdWZhZ2NkYnV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NTMwODIsImV4cCI6MjA5NDQyOTA4Mn0.Feg92AbV0UE3H3lFNnrOKqMVKNlhsO6hOhL1bVyQzk4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpdXZ6enJid3hkdWZhZ2NkYnV6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODg1MzA4MiwiZXhwIjoyMDk0NDI5MDgyfQ.wzYXd4bUb-lFFd4ljhYruCisbUuj2RQM8wZ2JtLWrLE

# Server Configuration
SERVER_PORT=8080

# CORS Origins (comma-separated)
CORS_ORIGINS=https://codequestdiplomaproject.web.app,https://codequestdiplomaproject.firebaseapp.com,http://localhost:3000

